DEBUG=False
SECRET_KEY=A_VERY_SECRET_KEY
SIGNING_KEY=ANOTHER_VERY_SECRET_KEY
ALLOWED_HOSTS=api.myresume.whatever
DATABASE_URL=postgres://{USER}:{PASSWORD}@{HOST}:5432/resume
DATABASE_CONN_MAX_AGE=600
CORS_ALLOWED_ORIGINS=https://myresume.whatever

ACCESS_TOKEN_LIFETIME_MINUTES="1440"   # 1 day
REFRESH_TOKEN_LIFETIME_MINUTES="43200" # 1 month
